.accordion-item {
  box-shadow: 0 0 6px #ccc;
  margin: 2rem;
  border-radius: 4px;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #ccc;
  cursor: pointer;
}

.accordion-header:hover{
  background-color: #bbb;
}

.accordion-content {
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 768px) {
  .accordion-item {
    margin: 2rem 0;
  }
}