.accoridion-item {
  box-shadow: 0 0 6px #ccc;
  margin: 2rem;
  border-radius: 4px;
  overflow: hidden;
}

.accoridion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #ccc;
  cursor: pointer;
}

.accoridion-header:hover{
  background-color: #bbb;
}

.accoridion-content {
  padding: 1rem 1.5rem;
}