.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: #aaa;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.fries .burger1 {
  transform: rotate(45deg);
}

.fries .burger2 {
  transform: translateX(100%);
  opacity: 0;
}

.fries .burger3 {
  transform: rotate(-45deg);
}

@media (max-width: 900px) {
  .hamburger {
    display: flex;
    margin-left: auto;
    z-index: 1;
  }
}