.header {
  position: sticky;
  top: 0;
  box-shadow: 0 0px 4px #ddd;
  z-index: 99;
  background-color: white;
  padding: 0 4vw 0 0;
}

.logo-area {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 2vw;
}

ul.menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 5px;
  cursor: pointer;
  color: var(--heading-color);
}

.nav-item:hover {
  /* background-color: #eee; */
  color: var(--secondary-color);
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-family: var(--default-font-family);
}

.navigation {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.action-button-container {
  margin-left: 10px;
  /* margin-right: 2vw; */
}

.action-button {
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 8px #bbb;
  cursor: pointer;
  font-size: 1.2rem;
}

.action-button:hover {
  background-color: var(--primary-color-dark);
}

.hamburger-navigation {
  display: none;
}

@media (max-width: 1030px) {
  .navigation {
    display: none;
  }

  .hamburger-navigation {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    font-size: 1.3rem;
  }

  .hamburger-navigation .menu {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin: 1rem auto 0;
    font-family: "Asap", sans-serif;
  }

  .action-button-container {
    margin: 1rem auto;
  }
}