.header {
  position: sticky;
  top: 0;
  box-shadow: 0 0px 4px #ddd;
  z-index: 99;
  background-color: white;
}

.logo-area {
  display: flex;
  align-items: center;
  cursor: pointer;
}

ul.menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 5px;
  cursor: pointer;
  color: var(--heading-color);
}

.nav-item:hover {
  /* background-color: #eee; */
  color: var(--secondary-color);
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-family: var(--default-font-family);
}

.navigation {
  margin-left: auto;
}

.action-button-container {
  margin-left: 10px;
  margin-right: 2vw;
}

.action-button {
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 8px #bbb;
  cursor: pointer;
}

.action-button:hover {
  background-color: var(--primary-color-dark);
}

