.hero-wrapper {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
}

.hero-content {
  width: 46vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aquamarine; */
}

.hero-content .headline {
  font-size: 3rem;
  margin-bottom: 30px;
}

.hero-content .text {
  width: 42vw;
  margin-bottom: 40px;
}

.hero-img img {
  height: 420px;
  width: 300px;
  object-fit: cover;
  border-radius: 40%;
  box-shadow: 0 0 4px #aaa;
}

.hero-btns .get-started {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 8px #bbb;
  cursor: pointer;
  background-color: var(--secondary-color);
  font-size: 1.2rem;
  margin: 0 1.5vw 1.5vw 0;
}

.hero-btns .get-started:hover {
  background-color: var(--secondary-color-dark);
}

.hero-btns .view-testimonials {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ddd;
  font-size: 1.2rem;
}

.hero-btns .view-testimonials:hover {
  background-color: #ccc;
}

.hero-img .hero-img-wrapper {
  position: relative;
}

.hero-img .heart-icon {
  position: absolute;
  color: red;
  font-size: 5rem;
  bottom: 8px;
  right: -4px;
}