/* .pricing-content .headline {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 30px;
} */

.pricing-header .text  {
  width: 60vw;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}

.pricing-cards-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 20px 0;
}

.pricing-card {
  flex: 0 0 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0 0 6px #ccc;
  scroll-snap-align: start;
  overflow: hidden;
}

@media (max-width: 768px) {
  .pricing-cards-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .pricing-card {
    width: 100%;
    max-width: 400px;
  }
}

@media (min-width: 1680px) {
  .pricing-cards-container {
    justify-content: center;
  }
}

.pricing-card:hover {
  background-color: #f6f6f6;
}

.pricing-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-card-header .plan-name {
  padding: 4px;
  color: var(--secondary-color);
  font-size: 2rem;
}

.pricing-card-header .sub-header {
  color: #606060;
  font-size: 0.9rem;
  padding: 0 0 6px;
}

.pricing-card-header .plan-cost {
  padding: 4px;
  color: #606060;
  font-size: 2rem;
}

.services-provided-list ul {
  margin: 10px 16px 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pricing-card .services-provided-list ul li {
  column-gap: 0.4rem;
  color: #606060;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.pricing-card .services-provided-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-card-btn {
  padding: 8px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: var(--secondary-color);
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px #ccc;
}

.pricing-card-btn:hover {
  background-color: var(--secondary-color-dark);
}

.service-included-icon {
  color: green;
  flex-shrink: 0;
}

.service-not-included-icon {
  color: red;
  flex-shrink: 0;
}

.popular-plan {
  position: relative;
}

.popular-banner {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px 8px;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.8rem;
  border-bottom-left-radius: 6px;
}

.pricing-content #footer {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}