.services-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

/* .services-content .headline {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 30px;
} */

.services-graphic {
  background: var(--bg-gradient);
  width: 70vw;
  max-width: 1200px;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 20px 40px;
  box-shadow: 0px 2px 10px #bbb;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 150px;
  text-align: center;
}

.service h4 {
  margin-top: 4px;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.service-icon {
  background-color: white;
  border-radius: 10px;
  padding: 4px;
  font-size: 2rem;
  color: var(--primary-color-dark);
  margin: 6px 0 0;
}

.services-content {
  position: relative;
}

.services-bg-graphic {
  position: absolute;
  z-index: -1;
  top: -220px;
  right: -480px;
  height: 700px;
  width: 700px;
  transform: rotate(20deg);
  opacity: 0.6;
}