/* .testimonials-header .headline {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 30px;
} */

.sliders-container {
  width: 60vw;
  min-width: 400px;
  padding: 2vh 10vw;
  margin: auto;
  font-family: "Asap", sans-serif;
}

.swiper-slide {
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 10px #aaa;
}

.slide-img img {
  width: 100%;
}

.slide-item h4 {
  margin: 1rem 0;
  font-size: 2rem;
}
