:root {
  --primary-color: #7ed957;
  --primary-color-dark: #68d539;
  --secondary-color: #38b6ff;
  --heading-color: #092c2b;
  --default-font-family: "Arial Narrow", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}