@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

:root {
  --primary-color: #7ed957;
  --primary-color-dark: #6bcf40;
  --secondary-color: #38b6ff;
  --secondary-color-dark: #33a6e8;
  --bg-gradient: linear-gradient(90deg, #7ed957 20%, #aeff8b);
  --heading-color: #092c2b;
  --default-font-family: "Asap", sans-serif;
  overflow-x: hidden;
  /* --default-font-family: "Arial Narrow", sans-serif; */
}

a {
  text-decoration: none;
  color: unset;
  padding: 5px;
}

a:hover {
  color: unset;
}

p {
  font-size: 1.2rem;
}

.container {
  padding: 8vh 10vw;
  margin: auto;
  font-family: "Asap", sans-serif;
}

.headline {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 30px 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html {
  scroll-behavior: smooth;
}